* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-image: url("./media/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */

}

body {
    padding: 1em;
}

#app {
    background-color: white;
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    
}

.header, .footer {
    text-align: center;
    background-color: white;
    border-radius: 1em;
}

button {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em black;
    font-size: large;
}

#titleScreen-content {
    display: flex;
    flex-direction: column;
}

#titleScreen-title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
}

#titleScreen-settings {
    margin: 1em 0.5em 1em 0.5em;
}

.listTitle {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.listItem {
    margin-bottom: 0.5em;
}
.answers {
    list-style-position: inside;
}

.answer-template {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.chapter-title, .qComment-title {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0.5em;
}

.question-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
}

.question-img, .qComment-img {
    max-width: 100%;
    max-height: 100%;
}

.right-answer {
    font-weight: bold;
    background-color:  #90EE90;
}

.wrong-answer {
    background-color:#FF7276;
    font-weight: bold;
}

[v-cloak] {
    display: none !important;
}
