<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./testingTemp.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./testingTemp.css">
    <title>{{ title }}</title>
</head>

<body>
    <div id="app" v-cloak>
        
        <div id="titleScreen" v-if="titleScreen === true">
            <h1 id="titleScreen-title">The Test</h1>
            <p>Settings:</p>
            <ul>
                <li>Allow tips: <input type="checkbox" v-model="allowTip"></li>
                <li>Allow checking: <input type="checkbox" v-model="allowCheck"></li>
            </ul>
            <button v-on:click="titleScreen = false">{{ msg !== '' ? 'Restart' : 'Start' }} </button>
            <p v-if="msg !== ''">Результат: <p>{{ msg }}</p> </p>
        </div>
        <div v-else>
        <div v-for="(chapter, indexC) in chaptersData" class="chapterDiv">
            <!-- Chapter -->
            <div class="chapter" v-show="chapterIndx === indexC">
                <p class="chapter-title">{{ chapter.title }}</p>
                <div v-for="(question, indexQ) in chapter.questions" class="questionDiv">
                    <!-- Question -->
                    <div class="question" v-show="questionIndx === indexQ">
                        <img v-if="question.img !== undefined" v-bind:src="'./' + question.img">
                        <p class="question-title">{{ question.title }}</p>
                        <!-- Answers -->
                        <ol class="answers">
                            <li class="answer" v-for="(answer, indexA) in question.answers">
                                <input v-if="question.multiple" class="aCheckbox" type="checkbox" name="CheckAnswer-{{ indexC }}-{{ indexQ }}" v-on:change="lProcessAnswer(indexC, indexQ, indexA, answer, $event.target.checked)">
                                <input v-else class="aRadio" type="radio" name="RadioAnswer-{{ indexC }}-{{ indexQ }}" v-on:click="lProcessAnswer(indexC, indexQ, indexA, answer, $event.target.checked)">
                                {{ answer.text }}
                            </li>
                        </ol>
                        <!-- Tip -->
                        <div class="qComment" v-show="showTip">
                            <p>Tip</p>
                            <p>{{ question.comment.text }}</p>
                            <img v-if="question.comment.img !== undefined" v-bind:src="'./' + question.comment.img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <menu>
            <button v-show="!qIsFirst" v-on:click="lChangeQuestion(-1)">Previous question</button>
            <button v-show="allowCheck" v-on:click="lCheckAnswer()">Check answer</button>
            <button v-show="!qIsLast" v-on:click="lChangeQuestion(1)">Next question</button>
            <button v-show="allowTip" v-on:click="showTip = !showTip">Show/Hide Tip</button>
            <button v-show="qIsLast" id="showResult" v-on:click="lShowResult()">Result</button>
        </menu>
        <p v-if="msg !== ''">Статус: {{ msg }}</p>
        </div>
    </div>
</body>

</html>