* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-image: url("./media/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    z-index: -100;

}

body {
    padding: 1em;
}

#app {
    background-color: white;
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    position: relative;
    
}

.header, .footer {
    text-align: center;
    background-color: white;
    border-radius: 1em;
    position: relative;
}

button {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em black;
    font-size: large;
    cursor: pointer;
}

input[type=checkbox], input[type=radio]
{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin: 0.5em;
}

#titleScreen-content {
    display: flex;
    flex-direction: column;
}

#titleScreen-title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
}

#titleScreen-settings {
    margin: 1em 0.5em 1em 0.5em;
}

.listTitle {
    font-weight: bold;
    margin-bottom: 1em;
}

.listItem {
    margin-bottom: 1em;
    margin-right: 1em;
}
.answers {
    list-style-position: inside;
}

.answer-template {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: 1em;
}

.chapter-title, .qComment-title {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0.5em;
}

.question-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1.5em;
}

.question-img, .qComment-img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.right-answer {
    font-weight: bold;
    background-color:  #90EE90;
}

.wrong-answer {
    background-color:#FF7276;
    font-weight: bold;
}

[v-cloak] {
    display: none !important;
}

@property --angel {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#app::after, #app::before {
    content: "";
    background-image: conic-gradient(from var(--angel), transparent, white, gray, white, transparent);
    position: absolute;
    width: calc(100% + 0.5em);
    height: calc(100% + 0.5em);
    top: calc(-0.25em);
    left: calc(-0.25em);
    border-radius: 1em;
    z-index: -1;
    animation: spin 3s linear infinite;
}

.header::after, .header::before, .footer::after, .footer::before {
    content: "";
    background-image: conic-gradient(from var(--angel), transparent, white, gray, white, transparent);
    position: absolute;
    width: calc(100% + 0.5em);
    height: calc(100% + 0.5em);
    top: calc(-0.25em);
    left: calc(-0.25em);
    border-radius: 1em;
    z-index: -1;
    animation: spin 3s linear infinite;
    
}

.header::before, .footer::before, #app::before {
    filter: blur(em);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angel: 0deg;
    }
    to {
        --angel: 360deg;
    }
}
